{% extends 'base.html.twig' %}

{% block body %}
    <h1> Inscrivez-vous !</h1>

    {{form_start(form)}}
    {{form_row(form.email, {'attr' : {'placeholder' : 'Adresse email... '} })}}
    {{form_row(form.full_name, {'attr' : {'placeholder' : 'Votre nom complet... '} })}}
    {{form_row(form.username, {'attr' : {'placeholder' : 'Votre pseudo... '} })}}
    {{form_row(form.password, {'attr' : {'placeholder' : 'Mot de passe... '} })}}
    <button type="submit" class="btn btn-warning">S'incrire</button>
    {{form_end(form)}}
{% endblock %}